@font-face {
    font-family: "PressStart2P";
    src:
      url("./assets/font/PressStart2P-Regular.ttf");
  }

body {
    background-color: #000;
    color: #fff;
    font-family: "PressStart2P";
    text-transform: uppercase;
    margin: 0;
}

button {
  font-family: "PressStart2P";
}